################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/GraphQL/obj
/GraphQL/bin/Debug/net5.0
